/* override the default sidebar panel style */
.contentpanel{
    position: absolute;
    left: 250px;
    width: 300px;
    z-index: 300;

    section{
        padding: 10px;
        margin-top: 4px;
        font-size: 12px;

        h4{
            font-size: 12px;
            padding: 0 2px;
            font-weight: normal;
            color: $dimmed-text-color;
            margin: 16px 0 5px 0;
            position: relative;
            border-bottom: 1px solid #656565;
        }

        .checkbox label span:before{
            top: 0;
        }

        .warning{
            color: #d08181;
            padding: 0 0 0 20px;
            margin-top: 6px;
        }
    }
}
