.cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  margin-top: -18px;
  margin-left: -2px;
  pointer-events: none;
  background-image: url("../_img/pipette.svg");
  background-size: contain;
  z-index: 100;
  display: none;

  &.rotate{
    background-image: url("../_img/rotate1.svg");
    margin-top: -10px;
    margin-left: -10px;
  }

  &.draw__{
    background-image: url("../_img/cross.svg");
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
  }
}

body.customcursor.hoverviewport{
  cursor: none;

  .sizebox{
    cursor: none;
  }

  .cursor{
    display: block;
  }

  &.cursor-draw{
    cursor: url("../_img/cursors/cross.png") 12 12, auto;
    .cursor{
      display: none;
    }
  }
}

body.hovercanvas.mousedown.colorpicker{
  canvas.mainCanvas{
    cursor: none;
  }
  .cursor{
    display: block;

    .mark{
      position: absolute;
      pointer-events: none;
      display: none;
      width: 60px;
      height: 60px;
      margin: -14px 0 0 -26px;
      border: 8px solid green;
      border-radius: 50%;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.5), inset 0 0 3px 1px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  &.mousedown{
    .cursor{
      .mark{
        display: block;
      }
    }
  }
}

#dragelement{
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;

  &.active{
    opacity: 1;
  }

  .dragelement{
    &.box{
      width: 120px;
      padding: 4px 8px;
      color: $menu-text-color;
      background-color: #313335;
      border: 1px solid #000000;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.63);
    }
  }
}





