.effects{
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
  bottom: 0;

  .sliders{
    position: absolute;
    left: 10px;
    top: 10px;

    .slider{
      position: relative;
      margin: 4px 0;
      label{
        display: block;
        font-size: 12px;
      }

      input[type="range"]{
        width: 200px;
        position: relative;
        z-index: 10;
        margin-top: 7px;

        &::-webkit-slider-runnable-track {
          background: linear-gradient(90deg, rgb(0,0,0) 0%, rgb(200,200,200) 100%);
          border: 1px solid #010101;
          width: 100%;
          height: 4px;
          cursor: pointer;
        }

        &.saturation::-webkit-slider-runnable-track{
          background: linear-gradient(90deg, #7F7F7F 0%, #F50A0A 100%);
        }
        &.contrast::-webkit-slider-runnable-track{
          background: linear-gradient(90deg, #7F7F7F 0%, #000000 100%);
        }
        &.hue::-webkit-slider-runnable-track{
          background: linear-gradient(90deg, #FF3A00 0%, #F0FF00 20%, #00FF1D 40%, #0007FF 60%, #FF00F1 80%, #FA0505 100%);
        }
        &.sepia::-webkit-slider-runnable-track{
          background: linear-gradient(90deg, #313335 0%, #8A4F38 100%);
        }
        &.cyan::-webkit-slider-runnable-track{
          background: linear-gradient(90deg, #0AF5F5 0%, #F50A0A 100%);
        }
        &.magenta::-webkit-slider-runnable-track{
          background: linear-gradient(90deg, #F50AF5 0%, #0AF50A 100%);
        }
        &.yellow::-webkit-slider-runnable-track{
          background: linear-gradient(90deg, #F5F50A 0%, #0A0AF5 100%);
        }
      }

      input[type="text"]{
        position: absolute;
        width: 40px;
        right: 0;
        top: 0;
        font-size: 12px;
        padding: 2px 4px;
      }

    }

  }

  .previewpanel{
    position: absolute;
    left: 240px;
    top: 12px;

    .preview{
      width: 200px;
      height: 200px;
      border: 1px solid black;
      margin-bottom: 10px;
    }
  }

  .buttons{
    left: 0;
    right: 0;
    justify-content: flex-end;

    .button.left{
      position: absolute;
      left: 10px;
    }
  }
}