.blanket{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;

  &.active{
    display: block;
  }
}

.modalwindow{
  position: absolute;
  z-index: 1001;
  background-color: $panel-background-color;
  width: 440px;
  height: 260px;
  border: 1px solid black;
  top: calc(50vh - 130px);
  left: 50%;
  margin-left: -100px;
  box-shadow: 0 0 8px 0px black;
  display: none;

  .caption{
    color: $menu-text-color;
    padding: 2px 4px;
    border-bottom: 1px solid black;
    position: relative;
    height: 20px;
    background-color: #00000038;
    cursor: move;
    user-select: none;

    .button{
      position: absolute;
      width: 16px;
      height: 16px;
      line-height: 14px;
      text-align: center;
      border: 1px solid black;
      top: 2px;
      right: 2px;
      font-size: 12px;

      &:hover{
        background-color: $panel-background-active;
        cursor: pointer;
      }
    }
  }

  &.active{
    display: block;
  }

  .inner{
    color: $menu-text-color;

    .button{
      border: 1px solid #6a6a6a;
      margin: 2px;
      padding: 6px;

      .title{
        color: $menu-text-color;
      }

      .subtitle{
        color: #797979;
      }

      &:hover{
        cursor: pointer;
        border: 1px solid #8c8c8c;
        background-color: #232323;
      }
    }

    h3{
      font-size: 13px;
      padding: 0 10px;
      margin: 10px 0;
    }

    .panel.form{
      padding: 0 10px;

      span{
        display: inline-block;
        width: 80px;

        &.label{
          text-align: right;
          padding-right: 8px;
        }
      }

      input[type="number"]{
        width: 100px;
        margin-right: 8px;
        margin-bottom: 4px;
      }
    }

    .buttons{
      position: absolute;
      display: flex;
      bottom: 0;
      right: 0;
      padding: 10px 8px;

      .button{
        width: 150px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        margin: 0 2px;

        &.ghost{
          opacity: 0.7;
        }
      }
    }


    @import "paletteEditor";
  }
}