.palette{
  position: relative;


  .palettepanel{
    position: absolute;
    left: 10px;
    top: 10px;

    .highlight{
      position: absolute;
      width: 30px;
      height: 30px;
      margin: 1px 0 0 1px;
      border: 3px solid black;

      &:before{
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        left: -4px;
        top: -4px;
        border: 2px solid white;
      }
    }
  }

  .sliders{
    position: absolute;
    left: 150px;
    top: 10px;
    right: 10px;

    .slider{
      position: relative;
      margin: 6px 0;

      span.label{
        position: absolute;
        right: 59px;
        text-align: left;
        text-transform: capitalize;
        font-size: 13px;
        margin-top: 5px;
        width: 50px;
      }

      input.slider{
        width: 155px;
        margin-top: 12px;

        &.red::-webkit-slider-runnable-track {
          background: #c40202;
          border: 1px solid #c40202;
        }
        &.green::-webkit-slider-runnable-track {
          background: #00a402;
          border: 1px solid #00a402;
        }
        &.blue::-webkit-slider-runnable-track {
          background: #085db9;
          border: 1px solid #085db9;
        }
      }

      input.rangevalue{
        position: absolute;
        right: 10px;
        width: 50px;
      }
    }

    input.hex{
      width: 100px;
      position: absolute;
      right: 10px;
    }

    input.masked{
      position: absolute;
      opacity: 0;
      pointer-events: none;
      left: 0;
      top: 0;
      height: 30px;
    }

    .button.small{
      position: absolute;
      line-height: 14px;
      font-size: 12px;
      right: 8px;
      top: 133px;
      padding: 2px 4px;
      width: 50px;
      text-align: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease-in-out;

      &.revert{
        right: 60px;
      }

      &.active{
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}