html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #2B2B2B;
  font-family: sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 1px;
}

.container {
  position: relative;
  height: 100%;
}
.container.fuzzy {
  pointer-events: none;
  filter: blur(2px);
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8c8c8c #454545;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 10px;
  border: 0px solid #2b2b2b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #626262;
}

::-webkit-scrollbar-corner {
  background: #000000;
}

.checkbox {
  display: block;
}
.checkbox label {
  position: relative;
}
.checkbox label span {
  padding: 2px 0 2px 18px;
  line-height: 14px;
  white-space: nowrap;
  color: #BBBBBB;
}
.checkbox label span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 14px;
  height: 14px;
  background-color: #2b2b2b;
  border: 1px solid #8a8a8a;
}
.checkbox label:hover {
  cursor: pointer;
}
.checkbox label:hover span {
  color: #d7d7d7;
}
.checkbox label:hover span:before {
  border: 1px solid #e8e8e8;
}
.checkbox input {
  opacity: 0;
  position: absolute;
}
.checkbox input:checked + span:before {
  background-color: #c0c0c0;
  box-shadow: inset 0 0 0px 2px black;
}

input[type=number],
input[type=text] {
  display: inline-block;
  background-color: #2b2b2b;
  border: 1px solid #6A6A6A;
  color: #BBBBBB;
  padding: 4px;
}
input[type=number]:focus,
input[type=text]:focus {
  outline: none;
}

input[type=range] {
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 21px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #c8c8c8;
  border: 1px solid #010101;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -8.6px;
  width: 8px;
  height: 16px;
  background: #c8c8c8;
  border: 1px solid rgba(50, 50, 50, 0.7);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d5d5d5;
}

input[type=range]::-moz-range-track {
  background: #c8c8c8;
  border: 1px solid #010101;
  width: 100%;
  height: 0;
  margin-top: -2px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 6px;
  height: 14px;
  background: #c8c8c8;
  border: 1px solid rgba(50, 50, 50, 0.7);
  border-radius: 0;
  cursor: pointer;
  margin-top: -2px;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #bbbbbb;
  border: 1px solid #010101;
}

input[type=range]::-ms-fill-upper {
  background: #c8c8c8;
  border: 1px solid #010101;
}

input[type=range]::-ms-thumb {
  width: 8px;
  height: 16px;
  background: #c8c8c8;
  border: 1px solid rgba(50, 50, 50, 0.7);
  cursor: pointer;
  margin-top: 0;
}

input[type=range]:focus::-ms-fill-lower {
  background: #c8c8c8;
}

input[type=range]:focus::-ms-fill-upper {
  background: #d5d5d5;
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid black;
  height: 25px;
  background-color: #313335;
  color: #BBBBBB;
  z-index: 10;
  user-select: none;
}
.menu a.main {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  line-height: 23px;
  font-size: 13px;
}
.menu a.main .sub {
  left: 0;
  margin-top: 0px;
  position: absolute;
  background-color: #313335;
  color: #BBBBBB;
  border: 1px solid black;
  display: none;
}
.menu a.main .sub a {
  display: block;
  padding: 0 24px 0 10px;
  font-size: 13px;
  line-height: 23px;
  white-space: nowrap;
  position: relative;
}
.menu a.main .sub a.wide {
  padding: 0 70px 0 10px;
}
.menu a.main .sub a:hover {
  background-color: #3C3F41;
  cursor: pointer;
}
.menu a.main .sub a .shortkey {
  position: absolute;
  right: 6px;
  top: 1px;
  color: #8f8f8f;
  font-size: 11px;
}
.menu a.main:hover, .menu a.main.active {
  background-color: #3C3F41;
  cursor: pointer;
}
.menu a.main.active .sub {
  display: block;
}

.contextmenu {
  position: absolute;
  z-index: 999;
  border: 1px solid black;
  background-color: #313335;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  pointer-events: none;
  color: #BBBBBB;
}
.contextmenu.active {
  opacity: 1;
  display: block;
  pointer-events: all;
}
.contextmenu .contextmenuitem {
  display: block;
  padding: 0 24px 0 10px;
  font-size: 13px;
  line-height: 23px;
  white-space: nowrap;
  position: relative;
}
.contextmenu .contextmenuitem:hover {
  background-color: #3C3F41;
  cursor: pointer;
}

.toolbar {
  position: absolute;
  left: 0;
  top: 27px;
  border: 1px solid black;
  width: 64px;
  height: 306px;
  background-color: #313335;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  user-select: none;
}
.toolbar .togglepanel {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid black;
}
.toolbar .togglepanel:after {
  content: "";
  position: absolute;
  right: 2px;
  top: 2px;
  background-position: center center;
  width: 16px;
  height: 16px;
  background-image: url("../_img/caret.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  transition: transform 0.3s ease-in-out;
}
.toolbar .togglepanel:hover {
  cursor: pointer;
}
.toolbar .togglepanel:hover:after {
  opacity: 1;
}
.toolbar .button {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  line-height: 30px;
  text-align: center;
}
.toolbar .button:hover, .toolbar .button.active {
  background-color: #3C3F41;
  cursor: pointer;
}
.toolbar .button.icon {
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  color: white;
}
.toolbar .button.icon:hover {
  opacity: 0.7;
}
.toolbar .button.icon.active {
  opacity: 1;
  background-color: #282A2C;
}
.toolbar .button.pencil {
  background-image: url("../_img/pencil.svg");
  background-size: 70% 70%;
}
.toolbar .button.select {
  background-image: url("../_img/select.svg");
  background-size: 80% 80%;
}
.toolbar .button.zoomout {
  background-image: url("../_img/zoomout.svg");
  background-size: 70% 70%;
}
.toolbar .button.zoom {
  background-image: url("../_img/zoom.svg");
  background-size: 70% 70%;
}
.toolbar .button.split {
  background-image: url("../_img/split.svg");
  background-size: 80% 80%;
}
.toolbar .button.circle {
  background-image: url("../_img/circle.svg");
  background-size: 60% 60%;
}
.toolbar .button.square {
  background-image: url("../_img/square.svg");
  background-size: 60% 60%;
}
.toolbar .button.line {
  background-image: url("../_img/line.svg");
  background-size: 80% 80%;
}
.toolbar .button.erase {
  background-image: url("../_img/eraser.svg");
  background-size: 80% 80%;
}
.toolbar .button.stamp {
  background-image: url("../_img/stamp.svg");
  background-size: 80% 80%;
}
.toolbar .button.gradient {
  background-image: url("../_img/gradient.svg");
  background-size: 80% 80%;
}
.toolbar .button.polygonselect {
  background-image: url("../_img/poly.svg");
  background-size: 80% 80%;
}
.toolbar .brushes {
  width: 55px;
  height: 22px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
}
.toolbar .brushes .brush {
  width: 11px;
  height: 11px;
  background-image: url("../_img/brushes.png");
  opacity: 0.3;
  display: block;
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
.toolbar .brushes .brush.active {
  opacity: 1;
  background-color: black;
}
.toolbar .brushes .brush:hover {
  opacity: 1;
  background-color: black;
  box-shadow: 0 0 2px black;
}
.toolbar .palette {
  width: 60px;
  text-align: center;
}
.toolbar .palette .display {
  height: 80px;
  position: relative;
}
.toolbar .palette .display div {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  left: 24px;
  top: 16px;
  background-color: black;
}
.toolbar .palette .display div.nofill {
  background-image: url("../_img/nofill.svg");
  background-size: 100% 100%;
}
.toolbar .palette .display div.front {
  z-index: 2;
  left: 12px;
  top: 6px;
}
.toolbar .palette .display div.button {
  width: 30px;
  height: 30px;
  left: 30px;
  top: 42px;
  background-color: transparent;
  border: 0;
  background-image: url("../_img/swap.svg");
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: center center;
  opacity: 0.7;
}
.toolbar .palette .display div.button:hover, .toolbar .palette .display div.button.active {
  background-color: #3C3F41;
  cursor: pointer;
  opacity: 1;
}
.toolbar .palette .display div.button.transparentcolors {
  left: 0;
  background-image: url("../_img/nofill-white.svg");
  background-size: 50% 50%;
}
.toolbar .palette .color {
  width: 14px;
  height: 14px;
  display: inline-block;
}
.toolbar .viewstyle {
  display: flex;
  margin-left: 20px;
}
.toolbar .viewstyle .button {
  opacity: 0.5;
}
.toolbar .viewstyle .button:hover {
  opacity: 1;
}
.toolbar .viewstyle .button.active {
  opacity: 1;
}
.toolbar.fill .button.circle {
  background-image: url("../_img/circle_fill.svg");
}
.toolbar.fill .button.square {
  background-image: url("../_img/square_fill.svg");
}

body.withsidepanel .toolbar .togglepanel:after {
  transform: rotate(180deg);
}

.statusbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background-color: #313335;
  color: #BBBBBB;
  font-size: 12px;
  padding: 2px 0 0 10px;
  border-top: 1px solid black;
}
.sidepanel {
  position: absolute;
  left: 70px;
  top: 27px;
  bottom: 20px;
  border: 1px solid black;
  width: 175px;
  background-color: #313335;
  display: none;
}
.sidepanel .panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.sidepanel .panel .inner {
  position: absolute;
  top: 22px;
  bottom: 0;
  overflow: auto;
  left: 0;
  right: 0;
}
.sidepanel .panel .inner small {
  font-size: 11px;
  color: #adadad;
  text-align: center;
  margin-top: 20px;
  display: block;
}
.sidepanel .panel .inner dl {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #4d4d4d;
}
.sidepanel .panel .inner dl dt,
.sidepanel .panel .inner dl dd {
  display: inline-block;
  color: #adadad;
  font-size: 11px;
  padding: 3px 5px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.05);
  width: 60px;
}
.sidepanel .panel .inner dl dd {
  opacity: 0.7;
  width: 100px;
}
.sidepanel .panel .inner .layer {
  padding: 5px;
  color: #BBBBBB;
  border-bottom: 1px solid #626262;
  font-size: 12px;
  user-select: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 23px;
}
.sidepanel .panel .inner .layer.active {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.sidepanel .panel .inner .layer.active .mask:after {
  background-color: #46484A;
}
.sidepanel .panel .inner .layer:hover {
  cursor: pointer;
}
.sidepanel .panel .inner .layer.ghost, .sidepanel .panel .inner .layer.hidden {
  opacity: 0.4;
}
.sidepanel .panel .inner .layer.ghost .eye, .sidepanel .panel .inner .layer.hidden .eye {
  opacity: 0.4;
}
.sidepanel .panel .inner .layer .eye {
  position: absolute;
  right: 4px;
  top: 7px;
  width: 16px;
  height: 16px;
  background-image: url("../_img/eye.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.sidepanel .panel .inner .layer .mask {
  position: absolute;
  right: 27px;
  top: 4px;
  width: 16px;
  height: 16px;
  border: 1px solid #C7C8C8;
  background-color: #C7C8C8;
  text-align: center;
}
.sidepanel .panel .inner .layer .mask:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin: -7px 0 0 -7px;
  background-color: #313335;
}
.sidepanel .panel .inner .layer .mask.active {
  border: 1px solid #b1e00f;
  background-color: #b1e00f;
  box-shadow: 0 0 2px yellow;
}
.sidepanel .panel .inner .layer input[type=text] {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  font-size: 12px;
  right: 0;
}
.sidepanel .panel .inner .frame {
  width: 50px;
  height: 50px;
  border: 1px solid #626262;
  margin: 1px;
  display: inline-block;
  position: relative;
}
.sidepanel .panel .inner .frame:hover {
  border: 1px solid white;
  cursor: pointer;
}
.sidepanel .panel .inner .frame .label {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #BBBBBB;
  font-size: 12px;
  padding: 4px;
}
.sidepanel .panel h2 {
  font-size: 14px;
  color: #BBBBBB;
  font-weight: 100;
  padding: 2px;
  margin: 0;
}
.sidepanel .panel.collapsed .caption i {
  transform: rotate(0deg);
}
.sidepanel .panel.collapsed .inner {
  display: none;
}
.sidepanel .panel .paneltools {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  background-color: #2D2E30;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #BBBBBB;
}
.sidepanel .panel .paneltools.multirow {
  height: 47px;
}
.sidepanel .panel .paneltools .button {
  height: 20px;
  width: 20px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 20px;
  border: none;
  border-right: 1px solid black;
  background-color: #282A2C;
  background-image: url("../_img/add.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}
.sidepanel .panel .paneltools .button.delete {
  background-image: url("../_img/trashcan.svg");
}
.sidepanel .panel .paneltools .button:hover {
  cursor: pointer;
  opacity: 1;
}
.sidepanel .panel .paneltools .rangeselect {
  position: absolute;
  left: 4px;
  top: 4px;
  font-size: 11px;
  color: #9d9c9c;
  display: flex;
}
.sidepanel .panel .paneltools .rangeselect input {
  width: 80px;
  margin: 0 0 0 4px;
  height: 17px;
}
.sidepanel .panel .paneltools .rangeselect input::-webkit-slider-thumb, .sidepanel .panel .paneltools .rangeselect input::-moz-range-thumb {
  margin-top: -6px;
  width: 8px;
  height: 12px;
  background: #9d9d9d;
  border: 1px solid rgba(50, 50, 50, 0.7);
}
.sidepanel .panel .paneltools .rangeselect input::-moz-range-thumb {
  width: 6px;
  height: 10px;
}
.sidepanel .panel .paneltools .blendselect {
  position: absolute;
  left: 4px;
  top: 25px;
  right: 0;
  color: #9d9c9c;
}
.sidepanel .panel .paneltools .blendselect .label {
  line-height: 19px;
}
.sidepanel .panel .paneltools .blendselect select {
  position: absolute;
  right: 4px;
  top: 0;
  height: 19px;
  width: 123px;
  background-color: #181818;
  color: #888888;
  border: 1px solid #7b7b7b;
}
.sidepanel .panel.brush {
  color: #BBBBBB;
  font-size: 12px;
}
.sidepanel .panel.brush label {
  opacity: 0.7;
  line-height: 19px;
  padding: 0 4px;
  width: 110px;
}
.sidepanel .panel.brush .rangeselect {
  display: flex;
  margin-bottom: 3px;
}
.sidepanel .panel.brush .rangeselect input[type=text] {
  padding: 0 4px;
  width: 30px;
  height: 19px;
  margin-left: 4px;
  margin-right: 2px;
  font-size: 11px;
}
.sidepanel .panel.brush .dither {
  display: flex;
}
.sidepanel .panel.brush .patterns {
  display: flex;
  width: 140%;
}
.sidepanel .panel.brush .patterns .pattern {
  width: 100%;
  height: 20px;
  margin-right: 2px;
  border: 1px solid black;
  background-color: #808080;
  background-size: contain;
}
.sidepanel .panel.brush .patterns .pattern.p1 {
  background-image: url("../_img/patterns/dots.png");
}
.sidepanel .panel.brush .patterns .pattern.p2 {
  background-image: url("../_img/patterns/cross.png");
}
.sidepanel .panel.brush .patterns .pattern.p3 {
  background-image: url("../_img/patterns/grid.png");
}
.sidepanel .panel.brush .patterns .pattern:last-of-type {
  margin-right: 0;
  background-color: transparent;
  background-image: url("../_img/caret.svg");
  opacity: 0.5;
}
.sidepanel .panel.brush .patterns .pattern:last-of-type:hover {
  background-color: transparent;
  opacity: 1;
}
.sidepanel .panel.brush .patterns .pattern:hover {
  cursor: pointer;
  background-color: white;
}
.sidepanel .panel.brush .patterns .pattern.active {
  border-color: #b1e00f;
  box-shadow: 0 0 2px yellow;
}
.sidepanel .caption {
  background-color: #282A2C;
  color: #BBBBBB;
  padding: 3px 5px 3px 16px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: unset;
  height: 21px;
  border: none;
  border-bottom: 1px solid black;
  justify-content: flex-start;
  user-select: none;
}
.sidepanel .caption i {
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../_img/caret.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
  opacity: 0.7;
}
.sidepanel .caption .close {
  position: absolute;
  height: 20px;
  width: 20px;
  line-height: 20px;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}
.sidepanel .subpanel {
  color: #BBBBBB;
  padding: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
}
.sidepanel .subpanel .label {
  opacity: 0.7;
  font-size: 12px;
  margin-bottom: 4px;
}
.sidepanel .subpanel .value {
  position: absolute;
  right: 4px;
  top: 4px;
}
.sidepanel .subpanel .button.square {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
}
.sidepanel .subpanel .button.square:hover {
  cursor: pointer;
}
.sidepanel .subpanel .button.square.prev {
  right: 21px;
}
.sidepanel .subpanel select {
  color: #BBBBBB;
  width: 100%;
  border: 1px solid black;
  background-color: transparent;
  margin: 4px 0;
}
.sidepanel .subpanel select:focus {
  outline: none;
}
.sidepanel input[type=range] {
  width: 100%;
}

body.withsidepanel .sidepanel {
  display: block;
}

.splitpanel {
  position: absolute;
  top: 27px;
  left: 70px;
  right: 0;
  bottom: 20px;
}
.splitpanel .panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(50% - 4px);
  border: 1px solid black;
}
.splitpanel .panel:first-of-type {
  left: 0;
  width: 100%;
}
.splitpanel .panel:last-of-type {
  right: 0;
  display: none;
}
.splitpanel .panel .toolbar {
  top: 0;
  right: 0;
  width: unset;
  height: 21px;
  border: none;
  border-bottom: 1px solid black;
  justify-content: flex-start;
}
.splitpanel .panel .toolbar .button {
  height: 20px;
  width: 20px;
  color: #BBBBBB;
  font-size: 12px;
  line-height: 20px;
  border: none;
  border-right: 1px solid black;
  background-color: #282A2C;
}
.splitpanel .panel .toolbar .button.auto {
  width: auto;
  padding: 0 5px;
}
.splitpanel .panel .toolbar .button.expand {
  background-image: url("../_img/fullscreen.svg");
  background-size: 60% 60%;
  background-position: center center;
  background-repeat: no-repeat;
}
.splitpanel .panel .toolbar .toolpanel .options {
  display: flex;
  padding: 3px 2px 0 2px;
  color: #BBBBBB;
  font-size: 12px;
}
.splitpanel .panel .toolbar .toolpanel .options span.tool {
  padding: 0px 4px 0 10px;
  color: #8f8f8f;
}
.splitpanel .panel .toolbar .toolpanel .options .optionsgroup {
  display: flex;
}
.splitpanel .panel .toolbar .toolpanel .options .checkbox {
  font-size: 12px;
  padding-right: 10px;
}
.splitpanel .panel .toolbar .toolpanel .options .checkbox label span {
  padding-left: 14px;
}
.splitpanel .panel .toolbar .toolpanel .options .checkbox label span:before {
  width: 10px;
  height: 10px;
}
.splitpanel .panel .toolbar .toolpanel .options .checkbox.mask {
  margin-left: 10px;
}
.splitpanel .panel .toolbar .toolpanel .options .checkbox.inline {
  margin-left: 10px;
}
.splitpanel .panel .toolbar .toolpanel .options input[type=range] {
  margin: 0 4px 0 4px;
  width: 40px;
  height: 6px;
}
.splitpanel .panel .toolbar .toolpanel .options input[type=range]::-webkit-slider-thumb {
  margin-top: -7px;
  width: 8px;
  height: 14px;
}
.splitpanel .panel .toolbar .toolpanel .options input[type=range]::-webkit-slider-runnable-track {
  background: #010101;
  height: 3px;
  margin-top: -2px;
  cursor: pointer;
}
.splitpanel .panel .toolbar .toolpanel .options label {
  font-size: 11px;
}
.splitpanel .panel .toolbar .toolpanel .options label.inline {
  margin-left: 6px;
}
.splitpanel .panel .viewport,
.splitpanel .panel .windowContainer,
.splitpanel .panel .tileContainer {
  position: absolute;
  top: 21px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
}
.splitpanel .panel .viewport.hidden,
.splitpanel .panel .windowContainer.hidden,
.splitpanel .panel .tileContainer.hidden {
  display: none;
}
.splitpanel .panel .windowContainer .window {
  width: 300px;
  height: 170px;
  background-image: url("../_img/frame.png");
  position: absolute;
  top: 50px;
  left: 10px;
}
.splitpanel .panel .windowContainer .window:nth-child(2) {
  top: 250px;
}
.splitpanel .panel .windowContainer .window:nth-child(3) {
  top: 450px;
}
.splitpanel .panel .windowContainer .window canvas {
  position: absolute;
  top: 18px;
  left: 4px;
}
.splitpanel .splitter {
  position: absolute;
  left: calc(50% - 4px);
  margin-left: 1px;
  top: 0;
  bottom: 0;
  width: 6px;
  cursor: col-resize;
  z-index: 10;
  display: none;
}
.splitpanel .splitter:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.splitpanel .canvascontainer {
  display: block;
  margin: auto;
  position: relative;
  border: 1px solid black;
  background-image: url("../_img/checkers.png");
}
.splitpanel canvas {
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  display: block;
  position: relative;
  z-index: 1;
}
.splitpanel canvas.overlaycanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

body.space .splitpanel .panel,
body.space.select .splitpanel .panel {
  cursor: grab;
}
body.space .splitpanel .overlaycanvas,
body.space.select .splitpanel .overlaycanvas {
  display: none;
}

body.shift.mousedown .splitpanel .overlaycanvas,
body.select .splitpanel .overlaycanvas {
  display: none;
}

body.select .splitpanel .panel {
  cursor: crosshair;
}

body.withsidepanel .splitpanel {
  left: 250px;
}

.sizebox {
  position: absolute;
  width: 10px;
  height: 10px;
  /*background-color: rgba(255, 0, 0, 0.24);*/
  z-index: 100;
  display: none;
  cursor: move;
}
.sizebox.hot {
  pointer-events: none;
}
.sizebox.active {
  display: block;
}
.sizebox .sizedot:nth-of-type(1) {
  cursor: nw-resize;
}
.sizebox .sizedot:nth-of-type(2) {
  cursor: n-resize;
}
.sizebox .sizedot:nth-of-type(3) {
  cursor: ne-resize;
}
.sizebox .sizedot:nth-of-type(4) {
  cursor: e-resize;
}
.sizebox .sizedot:nth-of-type(5) {
  cursor: se-resize;
}
.sizebox .sizedot:nth-of-type(6) {
  cursor: s-resize;
}
.sizebox .sizedot:nth-of-type(7) {
  cursor: sw-resize;
}
.sizebox .sizedot:nth-of-type(8) {
  cursor: w-resize;
}
.sizebox canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.selectbox {
  position: absolute;
  display: none;
  z-index: 4;
  pointer-events: none;
}
.selectbox .border {
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
}
.selectbox .border svg {
  width: 100%;
  height: 100%;
}
.selectbox .border svg .white {
  fill: none;
  stroke: #FFF;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}
.selectbox .border svg .ants {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
  stroke-dasharray: 4px;
  animation: stroke 0.2s linear infinite;
  /*shape-rendering: geometricPrecision;*/
  stroke-dashoffset: 8px;
}
@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
.selectbox .content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.selectbox.active {
  display: block;
}
.selectbox.full {
  display: block;
  background-color: rgba(255, 0, 0, 0.15);
  pointer-events: all;
}
.selectbox.full .border {
  display: none;
}
.selectbox.full .dots {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.sizedot {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  border: 1px solid white;
  background-color: black;
}
.sizedot:hover {
  background-color: white;
}

.rotatedot {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin: -20px 0 0 -20px;
  /*background-color: red;*/
}
.rotatedot.d2 {
  margin: -20px -20px 0 0;
}
.rotatedot.d3 {
  margin: 0 -20px -20px 0;
}
.rotatedot.d4 {
  margin: 0 0 -20px -20px;
}
.rotatedot:hover {
  /*background-color: green;*/
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  margin-top: -18px;
  margin-left: -2px;
  pointer-events: none;
  background-image: url("../_img/pipette.svg");
  background-size: contain;
  z-index: 100;
  display: none;
}
.cursor.rotate {
  background-image: url("../_img/rotate1.svg");
  margin-top: -10px;
  margin-left: -10px;
}

body.customcursor {
  cursor: none;
}
body.customcursor .sizebox {
  cursor: none;
}
body.customcursor .cursor {
  display: block;
}

body.hovericonEditorCanvas.shift.mousedown:not(.select) canvas.mainCanvas {
  cursor: none;
}
body.hovericonEditorCanvas.shift.mousedown:not(.select) .cursor {
  display: block;
}
body.hovericonEditorCanvas.shift.mousedown:not(.select) .cursor .mark {
  position: absolute;
  pointer-events: none;
  display: none;
  width: 60px;
  height: 60px;
  margin: -14px 0 0 -26px;
  border: 8px solid green;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.5), inset 0 0 3px 1px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
body.hovericonEditorCanvas.shift.mousedown:not(.select).mousedown .cursor .mark {
  display: block;
}

#dragelement {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}
#dragelement.active {
  opacity: 1;
}
#dragelement .dragelement.box {
  width: 120px;
  padding: 4px 8px;
  color: #BBBBBB;
  background-color: #313335;
  border: 1px solid #000000;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.63);
}

.blanket {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}
.blanket.active {
  display: block;
}

.modalwindow {
  position: absolute;
  z-index: 1001;
  background-color: #313335;
  width: 440px;
  height: 260px;
  border: 1px solid black;
  top: calc(50vh - 130px);
  left: 50%;
  margin-left: -100px;
  box-shadow: 0 0 8px 0px black;
  display: none;
}
.modalwindow .caption {
  color: #BBBBBB;
  padding: 2px 4px;
  border-bottom: 1px solid black;
  position: relative;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2196078431);
  cursor: move;
  user-select: none;
}
.modalwindow .caption .button {
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 14px;
  text-align: center;
  border: 1px solid black;
  top: 2px;
  right: 2px;
  font-size: 12px;
  user-select: none;
}
.modalwindow .caption .button:hover {
  background-color: #3C3F41;
  cursor: pointer;
}
.modalwindow.active {
  display: block;
}
.modalwindow .inner {
  color: #BBBBBB;
}
.modalwindow .inner .button {
  border: 1px solid #6a6a6a;
  margin: 2px;
  padding: 6px;
  user-select: none;
}
.modalwindow .inner .button .title {
  color: #BBBBBB;
}
.modalwindow .inner .button .subtitle {
  color: #797979;
}
.modalwindow .inner .button:hover {
  cursor: pointer;
  border: 1px solid #8c8c8c;
  background-color: #232323;
}
.modalwindow .inner h3 {
  font-size: 13px;
  padding: 0 10px;
  margin: 10px 0;
}
.modalwindow .inner .panel.form {
  padding: 0 10px;
}
.modalwindow .inner .panel.form span.label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 8px;
}
.modalwindow .inner .panel.form input[type=number] {
  width: 100px;
  margin-right: 8px;
  margin-bottom: 4px;
}
.modalwindow .inner .buttons {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  padding: 10px 8px;
}
.modalwindow .inner .buttons .button {
  width: 150px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin: 0 2px;
}
.modalwindow .inner .buttons .button.ghost {
  opacity: 0.7;
}
.modalwindow .inner .about img {
  width: 100%;
  height: auto;
}
.modalwindow .inner .about .text {
  position: absolute;
  z-index: 1;
  font-size: 12px;
  line-height: 14px;
  left: 56px;
  color: #a5bac2;
  opacity: 0.8;
  pointer-events: none;
}
.modalwindow .inner .about .text.info {
  width: 380px;
  bottom: 80px;
}
.modalwindow .inner .about .text.copyright {
  bottom: 50px;
}
.modalwindow .inner .about .text.github {
  bottom: 24px;
  pointer-events: all;
}
.modalwindow .inner .about .text.github:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
.modalwindow .inner .about .text.version {
  left: 556px;
  bottom: 24px;
}
.modalwindow .inner .lock {
  position: absolute;
  height: 33px;
  width: 13px;
  border: 1px solid transparent;
  border-left: none;
  top: 67px;
  left: 246px;
  opacity: 0.7;
}
.modalwindow .inner .lock .link {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  right: -8px;
  margin-top: -8px;
  background-color: #313335;
  background-image: url("../_img/link.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.modalwindow .inner .lock .link:hover {
  opacity: 1;
  cursor: pointer;
}
.modalwindow .inner .lock.active {
  border: 1px solid #8f8f8f;
  border-left: none;
  opacity: 1;
}
.modalwindow .inner .anchor {
  position: absolute;
  border: 1px solid black;
  left: 290px;
  top: 56px;
  width: 92px;
  height: 92px;
  background-color: #533030;
  display: flex;
  flex-wrap: wrap;
}
.modalwindow .inner .anchor h3 {
  position: absolute;
  left: -11px;
  top: -37px;
}
.modalwindow .inner .anchor .page {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-color: #47494d;
  left: 15px;
  top: 15px;
  z-index: 1;
  transition: left 0.2s ease-in-out, top 0.2s ease-in-out;
}
.modalwindow .inner .anchor .hotspot {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
}
.modalwindow .inner .anchor .hotspot:hover {
  background-color: rgba(255, 255, 255, 0.13);
  cursor: pointer;
}
.modalwindow .inner .anchor .arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../_img/caret.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: -8px 0 0 -8px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.modalwindow .inner .anchor .arrow.top {
  left: 50%;
  top: 8px;
  transform: rotate(270deg);
}
.modalwindow .inner .anchor .arrow.right {
  right: 0;
  top: 50%;
}
.modalwindow .inner .anchor .arrow.bottom {
  left: 50%;
  bottom: 0;
  transform: rotate(90deg);
}
.modalwindow .inner .anchor .arrow.left {
  left: 8px;
  top: 50%;
  transform: rotate(180deg);
}
.modalwindow .inner .anchor.top .page {
  top: -1px;
}
.modalwindow .inner .anchor.top .arrow.bottom {
  bottom: 10px;
}
.modalwindow .inner .anchor.left .page {
  left: -1px;
}
.modalwindow .inner .anchor.left .arrow.right {
  right: 10px;
}
.modalwindow .inner .anchor.right .page {
  left: 31px;
}
.modalwindow .inner .anchor.right .arrow.left {
  left: 18px;
}
.modalwindow .inner .anchor.bottom .page {
  top: 31px;
}
.modalwindow .inner .anchor.bottom .arrow.top {
  top: 18px;
}
.modalwindow .inner .quick {
  position: absolute;
  top: 123px;
  left: 88px;
  font-size: 12px;
}
.modalwindow .inner .quick .button.calc {
  display: inline-block;
  width: 22px;
  padding: 2px;
  text-align: center;
}
.modalwindow .inner .palette {
  position: relative;
}
.modalwindow .inner .palette .palettepanel {
  position: absolute;
  left: 10px;
  top: 10px;
}
.modalwindow .inner .palette .palettepanel .highlight {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 1px 0 0 1px;
  border: 3px solid black;
}
.modalwindow .inner .palette .palettepanel .highlight:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -4px;
  top: -4px;
  border: 2px solid white;
}
.modalwindow .inner .palette .sliders {
  position: absolute;
  left: 150px;
  top: 10px;
  right: 10px;
}
.modalwindow .inner .palette .sliders .slider {
  position: relative;
  margin: 6px 0;
}
.modalwindow .inner .palette .sliders .slider span.label {
  position: absolute;
  right: 59px;
  text-align: left;
  text-transform: capitalize;
  font-size: 13px;
  margin-top: 5px;
  width: 50px;
}
.modalwindow .inner .palette .sliders .slider input.slider {
  width: 155px;
  margin-top: 12px;
}
.modalwindow .inner .palette .sliders .slider input.slider.red::-webkit-slider-runnable-track {
  background: #c40202;
  border: 1px solid #c40202;
}
.modalwindow .inner .palette .sliders .slider input.slider.green::-webkit-slider-runnable-track {
  background: #00a402;
  border: 1px solid #00a402;
}
.modalwindow .inner .palette .sliders .slider input.slider.blue::-webkit-slider-runnable-track {
  background: #085db9;
  border: 1px solid #085db9;
}
.modalwindow .inner .palette .sliders .slider input.rangevalue {
  position: absolute;
  right: 10px;
  width: 50px;
}
.modalwindow .inner .palette .sliders input.hex {
  width: 100px;
  position: absolute;
  right: 10px;
}
.modalwindow .inner .palette .sliders input.masked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 0;
  height: 30px;
}
.modalwindow .inner .palette .sliders .button.small {
  position: absolute;
  line-height: 14px;
  font-size: 12px;
  right: 8px;
  top: 133px;
  padding: 2px 4px;
  width: 50px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.modalwindow .inner .palette .sliders .button.small.revert {
  right: 60px;
}
.modalwindow .inner .palette .sliders .button.small.active {
  opacity: 1;
  pointer-events: all;
}
.modalwindow .inner .effects {
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
  bottom: 0;
}
.modalwindow .inner .effects .tabs {
  position: absolute;
  left: 5px;
  width: 220px;
  border-bottom: 1px solid black;
  height: 36px;
  overflow: hidden;
}
.modalwindow .inner .effects .tabs .tab {
  position: absolute;
  width: 90px;
  text-align: center;
  line-height: 24px;
  border: 1px solid black;
  height: 24px;
  bottom: -3px;
  left: 5px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  user-select: none;
}
.modalwindow .inner .effects .tabs .tab:nth-of-type(2) {
  left: 100px;
}
.modalwindow .inner .effects .tabs .tab:hover, .modalwindow .inner .effects .tabs .tab.active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  opacity: 1;
}
.modalwindow .inner .effects .sliders {
  position: absolute;
  left: 10px;
  top: 40px;
  display: none;
}
.modalwindow .inner .effects .sliders.active {
  display: block;
}
.modalwindow .inner .effects .sliders .slider {
  position: relative;
  margin: 4px 0;
}
.modalwindow .inner .effects .sliders .slider label {
  display: block;
  font-size: 12px;
}
.modalwindow .inner .effects .sliders .slider input[type=range] {
  width: 200px;
  position: relative;
  z-index: 10;
  margin-top: -2px;
}
.modalwindow .inner .effects .sliders .slider input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(200, 200, 200) 100%);
  border: 1px solid #010101;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
.modalwindow .inner .effects .sliders .slider input[type=range]::-moz-range-track {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(200, 200, 200) 100%);
  border: 1px solid #010101;
  width: 100%;
  height: 2px;
  cursor: pointer;
}
.modalwindow .inner .effects .sliders .slider input[type=range].saturation::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #7F7F7F 0%, #F50A0A 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].saturation::-moz-range-track {
  background: linear-gradient(90deg, #7F7F7F 0%, #F50A0A 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].contrast::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #7F7F7F 0%, #000000 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].contrast::-moz-range-track {
  background: linear-gradient(90deg, #7F7F7F 0%, #000000 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].hue::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #FF3A00 0%, #F0FF00 20%, #00FF1D 40%, #0007FF 60%, #FF00F1 80%, #FA0505 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].hue::-moz-range-track {
  background: linear-gradient(90deg, #FF3A00 0%, #F0FF00 20%, #00FF1D 40%, #0007FF 60%, #FF00F1 80%, #FA0505 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].sepia::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #313335 0%, #8A4F38 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].sepia::-moz-range-track {
  background: linear-gradient(90deg, #313335 0%, #8A4F38 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].cyan::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #0AF5F5 0%, #F50A0A 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].cyan::-moz-range-track {
  background: linear-gradient(90deg, #0AF5F5 0%, #F50A0A 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].magenta::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #F50AF5 0%, #0AF50A 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].magenta::-moz-range-track {
  background: linear-gradient(90deg, #F50AF5 0%, #0AF50A 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].yellow::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #F5F50A 0%, #0A0AF5 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=range].yellow::-moz-range-track {
  background: linear-gradient(90deg, #F5F50A 0%, #0A0AF5 100%);
}
.modalwindow .inner .effects .sliders .slider input[type=text] {
  position: absolute;
  width: 40px;
  right: 0;
  top: 0;
  font-size: 12px;
  padding: 2px 4px;
}
.modalwindow .inner .effects .alchemy {
  position: absolute;
  left: 10px;
  top: 40px;
  width: 200px;
  display: none;
}
.modalwindow .inner .effects .alchemy.active {
  display: block;
}
.modalwindow .inner .effects .alchemy .recipe {
  padding: 8px;
  border-bottom: 1px solid black;
}
.modalwindow .inner .effects .alchemy .recipe:hover {
  cursor: pointer;
  background-color: #3C3F41;
}
.modalwindow .inner .effects .code {
  position: absolute;
  left: 10px;
  top: 250px;
  right: 10px;
}
.modalwindow .inner .effects .code code {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 170px;
  overflow: auto;
  white-space: pre;
  font-family: monospace;
  display: block;
  border: 1px solid black;
  background-color: #1c1c1c;
  color: #8f8f8f;
}
.modalwindow .inner .effects .code code:focus {
  outline: none;
}
.modalwindow .inner .effects .code code .string {
  color: #A1E46D;
}
.modalwindow .inner .effects .code code .number {
  color: #4176BA;
}
.modalwindow .inner .effects .code code .html {
  color: #E4D95F;
}
.modalwindow .inner .effects .code code .reserved {
  color: #C87531;
}
.modalwindow .inner .effects .code code .js {
  color: #6DE4D1;
}
.modalwindow .inner .effects .code code .globals {
  color: #ab66b7;
}
.modalwindow .inner .effects .code code .comment {
  color: #aaa;
}
.modalwindow .inner .effects .code code .method {
  color: #F9C26B;
}
.modalwindow .inner .effects .code code .source {
  color: #64b969;
}
.modalwindow .inner .effects .code code .target {
  color: #64b9a9;
}
.modalwindow .inner .effects .code .button {
  position: absolute;
  left: 0;
  top: 176px;
  user-select: none;
}
.modalwindow .inner .effects .previewpanel {
  position: absolute;
  left: 240px;
  top: 12px;
}
.modalwindow .inner .effects .previewpanel .preview {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.modalwindow .inner .effects .buttons {
  left: 0;
  right: 0;
  justify-content: flex-end;
}
.modalwindow .inner .effects .buttons .button.left {
  position: absolute;
  left: 10px;
}
.modalwindow .inner .ditheredit .preset {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-size: 50% 50%;
  background-color: #6b6b6b;
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
.modalwindow .inner .ditheredit .preset:hover {
  border: 1px solid #b1e00f;
  background-color: #bbbbbb;
  cursor: pointer;
}
.modalwindow .inner .ditheredit .preset.p0 {
  background-image: url("../_img/patterns/dots.png");
}
.modalwindow .inner .ditheredit .preset.p1 {
  background-image: url("../_img/patterns/cross.png");
}
.modalwindow .inner .ditheredit .preset.p2 {
  background-image: url("../_img/patterns/grid.png");
}
.modalwindow .inner .ditheredit .preset.p3 {
  background-image: url("../_img/patterns/cross2.png");
}
.modalwindow .inner .ditheredit .preset.p4 {
  background-image: url("../_img/patterns/lines_hor.png");
}
.modalwindow .inner .ditheredit .preset.p5 {
  background-image: url("../_img/patterns/lines_ver.png");
}
.modalwindow .inner .ditheredit .preset.p6 {
  background-image: url("../_img/patterns/lines_diag.png");
}
.modalwindow .inner .ditheredit .preset.p7 {
  background-image: url("../_img/patterns/longgrid.png");
}
.modalwindow .inner .ditheredit .preset.user canvas {
  width: 100%;
  height: 100%;
}
.modalwindow .inner .ditheredit .editpreset,
.modalwindow .inner .ditheredit .previewpreset,
.modalwindow .inner .ditheredit .presets {
  position: absolute;
  left: 5px;
  top: 25px;
  bottom: 5px;
  width: 202px;
  border: 1px solid black;
}
.modalwindow .inner .ditheredit .editpreset {
  left: 210px;
  width: 242px;
}
.modalwindow .inner .ditheredit .previewpreset {
  left: 455px;
}
.modalwindow .inner .ditheredit .previewpreset canvas {
  background-image: url("../_img/patterns/gradient.png");
  background-size: 100% 100%;
}
.modalwindow .inner .ditheredit h2 {
  font-size: 12px;
  padding: 4px;
  border-bottom: 1px solid black;
  font-weight: normal;
  margin: 0;
}
.modalwindow .inner .ditheredit .subtoolbar {
  border-top: 1px solid black;
  text-align: right;
  font-size: 12px;
  position: relative;
  padding: 0;
}
.modalwindow .inner .ditheredit .subtoolbar .button {
  display: inline-block;
  padding: 4px 9px;
  text-align: center;
  white-space: nowrap;
}
.modalwindow .inner .ditheredit .subtoolbar .button.small {
  width: 24px;
  padding: 4px;
}
.modalwindow .inner .ditheredit .subtoolbar .button.active {
  border-color: #b2970e;
  color: #b2970e;
  background-color: #413e28;
}
.modalwindow .inner .ditheredit .subtoolbar .button.hidden {
  display: none;
}
.modalwindow .inner .ditheredit .subtoolbar .button.left {
  position: absolute;
  left: 0;
  max-width: 49%;
}

/*# sourceMappingURL=main.css.map */
