@import "var";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: $background-color;
  font-family: sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 1px;
}

.container{
  position: relative;
  height: 100%;

  &.fuzzy{
    pointer-events: none;
    filter: blur(2px);
  }
}



@import "scrollbar";
@import "forms";
@import "range";
@import "menu";
@import "contextMenu";
@import "toolbar";
@import "statusbar";
@import "sidepanel";
@import "editor";
@import "selection";
@import "cursor";
@import "modal";